<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Дай доступ к bluetooth</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Дай доступ к bluetooth</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Доступ к фото</string>
	<key>NSCameraUsageDescription</key>
	<string>Дайте доступ к камере</string>
	<key>NSLocationUsageDescription</key>
	<string>Нам необходим доступ к геолокации</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.car-mate.ru</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>idp.vender.domain</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Нам необходим доступ к геолокации</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Нам необходим доступ к геолокации</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Нам необходим доступ к геолокации</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
